:root {
  --main-color: #40e0d0;
  --dark-color: #006666;
  --light-color: #1db954;
  --black: #191414;
  --white: #ffffff;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);

  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);;
  border-radius: 20px;
}
input {
  font-family: 'Outfit', sans-serif;
}

