:root {
  --main-color: #40e0d0;
  --dark-color: #006666;
  --light-color: #1db954;
  --black: #191414;
  --white: #ffffff;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);

  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  outline: 0.5px solid slategrey;
  border-radius: 20px;
}
input {
  font-family: 'Outfit', sans-serif;
}

.dark-mode{
  background-color: #212121;
  color: #ffffff;
  --white: #212121;
  --black: white;
  --light-color: #006666;
  --dark-color: #1db954;
}
.dark-mode .MuiCard-root {
  background-color:#333333;
}
.dark-mode .explore-page{
background-color: #212121;
}


.dark-mode .landing-page{
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
  padding-bottom: 0;
  max-width: 100%;
  box-sizing: border-box
}



.dark-mode .map-card-user-link{
  color: #40e0d0;
}

.dark-mode .template-selection {
  background-color: #212121;
}

.dark-mode .intro{
  border-style: none;
}

.dark-mode .outline-selection-page{
  color:white;
}

.dark-mode .outline-loading-button {
  color: white !important;
  border-color: white !important;
}

.dark-mode .MuiInputBase-input {
  color: white !important;
}

.dark-mode .outline-selection-texfield .map-location-textfield {
  color: white !important;
}

.dark-mode .MuiLoadingButton-root {
  color: white !important;
}

.dark-mode .MuiLoadingButton-root.MuiButton-outlined {
  border-color: white !important; /* Border color for outlined style */
}

.dark-mode .MuiOutlinedInput-input {
  color: white !important; /* Text color */
}

.dark-mode .MuiFormLabel-root {
  color: white !important; /* Label color */
}

.dark-mode .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Border color */
}

.dark-mode .MuiFormHelperText-root {
  color: white !important; /* Helper text color */
}
.dark-mode .data-editor-cols{
  color:white !important;
}
.dark-mode .mapCreationWrapper{
  background-color:  #212121;
}

.dark-mode .left-drawer .MuiDrawer-paper {
  width: 240px; /* or use your desired width */
  box-sizing: border-box;
  position: relative;
  background-color: #212121; /* Set the background color to black */
  color: white; /* Set the text color to white */
}

.dark-mode.left-drawer .MuiDrawer-paper a {
  color: white; /* Set the link color to white if applicable */
}

.dark-mode .map-graphics-editor {
  background-color: #212121; /* Set the background color to black */
}

.dark-mode .styles-buttons{
  background-color: #212121  !important;
  color: white !important;
}
.dark-mode .style-menu{
  border-style: solid;
  border-color: white;
}

.dark-mode .MuiSvgIcon-root {
  color: white !important;
}

.dark-mode .color-symbol-accordian-menu{
  background-color: #212121  !important;
}

.dark-mode .dark-mode-labels {
  color: white;
}
.dark-mode .dark-mode-map{
  background-color: #212121  !important;
}

.dark-mode .dark-mode-divider{
  background-color: white;
}

.dark-mode .search-bar{
  background-color:  #212121 !important ;
}
.dark-mode .tag{
  background-color:  #1a1a1a !important;
  color: white !important;

}

.dark-mode .map-view-content{
  filter:none
}
.dark-mode .map-render{
  filter:none
}

.dark-mode .explore-buttons{
  background-color: #006666 !important;
  color: white !important;
}
.dark-mode .explore-buttons{
   background-color: #006666 !important;
   color: white !important
 }

.dark-mode .footer{
  color:white  !important;
}

.dark-mode .landing-buttons{
  background-color: #006666 !important;
  color: white !important;
}

.dark-mode .map-view-content {
  background-color:#333333 !important;
  color:white;
}
.dark-mode .username{
  color:white !important;
}
.dark-mode .comment-text{
  color:white !important;
}

.dark-mode .map-description{
  color:white !important;
}

.dark-mode .template-selection-buttons{
  background-color: #006666 !important;
  color: white !important;
}

.dark-mode .undo-redo-buttons{
  background-color: #006666 !important;
}

.dark-mode .heat-map-editor{
  background-color:  #212121;
  color:white;
}

.heat-map-buttons{
  background-color: #006666 !important;
  color: white !important;
}

