.comment-container img {
    min-width:40px;
    min-height: 40px;
    max-width:36px;
    max-height: 36px;
    border-radius: 60%;
    margin-right:10px;
    margin-left:10px;
    padding-top:5px;
}

.comment-container{
    display:flex;
    margin-bottom: 20px;
}

