.comment-container img {
    min-width:30px;
    min-height: 30px;
    max-width:30px;
    max-height: 30px;
    border-radius: 50%;
    margin-right:10px;
    margin-left:10px;
    padding-top:5px;
}

.comment-container{
    display:flex;
    margin-bottom: 20px;
}
.comment-text{

}

.username{
    font-weight: bold;
    margin-right:10px;
}

.reply{
    margin-top:5px;
    color: darkgrey;
}


