.img {
    min-width:36px;
    min-height: 36px;
    max-width:36px;
    max-height: 36px;
    border-radius: 50%;
    margin-right:10px;
    margin-left:10px;
}
.comment-item {
    margin-bottom: 10px; /* Adjust the margin as needed */
}


.comment-container{
    display:flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.username{
    font-weight: bold;
    margin-right:10px;
}

.reply{
    margin-top:5px;
    color: darkgrey;
}
.comment-item {
    display: flex; /* Ensure that .comment-item is a flex container */
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Adjust the margin as needed */
}



