.explore-page {
  display: flex;
  flex-direction: column;
  min-width: 95vw;
  justify-content: center;
  padding: 10px; /* Add padding for spacing */
}
* {
  box-sizing: border-box;
}

.explore-title{
  align-self:center;
}

.filter-sort-buttons{
  display:flex;
  margin-left:40px;
  width: 12%;
  gap:10px;
}

.map-card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  justify-content: flex-start;
  overflow-y: auto;
  max-width: 100%;
  margin-left: 20px;
  margin-top:10px;
  margin-bottom: 10px;
}
.MuiAutocomplete-root .MuiAutocomplete-popupIndicator {
  display: none;
}
