.mapCreationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.wrapper-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
