#data-editing-page {
  display: flex;
  flex-direction: row;
  max-height: 85vh;
  width: 100%;
}

#data-editing-page-left {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  height: 100%;
  width: 100%;
  border-right: 1px solid rgb(230, 236, 250);
  border-right: 1px solid grey;
  align-items: center;
  gap: 2em;
}

#data-editing-page-right {
  flex: 0.4;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem;
  border-left: 1px solid rgb(230, 236, 250);
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

#table-buttons {
  padding-left: 1rem;
  margin-top: 1em;
  gap: 1em;
  display: flex;
  flex-direction: row;
}

#data-editing-page-mid {
  flex: 1;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#table-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 0.5rem;
  height: 90%;
  width: 100%;
}
#table-header-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 20px;
  background: var(--white);
  width: 100%;
}

#table-column-errors {
  width: 100%;
}
#table-body-container {
  height: 100%;
  width: 100%;
}

.table-label {
  border: 1px solid transparent;
  color: var(--white);
  background-color: var(--dark-color);
  width: fit-content;
  border-radius: 5px;
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.5em;
}

.secondary-title {
  border-bottom: 1px solid grey;
  width: 100%;
  margin: 0;
  text-align: center;
}

.header-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.normalText {
  margin: 0;
  text-align: center;
}
.css-1kkal6p-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  width: 100% !important;
}
