.map-render{
    height:500px;
    width: 1100px;
    border-radius: 10px;
    margin-top:100px;
    display:flex;
    filter: drop-shadow(-1px 2px 2px #d1d1d1);
}
.map-info{
    margin-bottom:-75px;
    font-family: 'Outfit', sans-serif;

}

.map-info h1{
    margin-bottom:-5px;
    font-family: 'Outfit', sans-serif;
}

.map-info p{
    margin:2px;
    font-family: 'Outfit', sans-serif;
    font-size:12px;
    color: dimgrey;
}

.map-render img{
    height: 500px;
    width: 800px;
    border-radius: 10px;
    object-fit: cover;
 }
.map-view-content{
    background-color: white;
    border-radius:7px;
    width:100%;
}
.comment-section{
    overflowX: hidden;
    max-width:100%;
}

.comment{
    display:flex;
    height:420px;
    overflow-y: scroll;

}

.login-link{
    color: var(--main-color);
    text-decoration:none;
    margin-right:5px;
    margin-left: 10px;

}

.post-comment{
    display:flex;
}

.comment-form{
    display:flex;
    max-width: 100%;
    filter: none;
}
.actions{
    display:flex;
    padding:15px;
    margin-top: -10px
}
.export, .bookmarks, .share{
    padding-left:10px;
}
