
.map-info{
    margin-bottom:-75px;
    margin-left: 200px;
    font-family: 'Outfit', sans-serif;
}
.map-comments-and-display{
    margin-left: 200px;
}

.map-info h1{
    margin-bottom:-5px;
    font-family: 'Outfit', sans-serif;
}

.map-info p{
    margin:2px;
    font-family: 'Outfit', sans-serif;
    font-size:12px;
    color: dimgrey;
}

.map-view-content{
    width:100%;
    background-color: white;
    border-radius:7px;
}


.login-link{
    color: var(--main-color);
    text-decoration:none;
    margin-right:5px;
    margin-left: 10px;

}

.post-comment{
    display:flex;
    color: darkgrey;
}

.comment-form{
    display:flex;
}

.actions{
    margin-left: 200px;
    display:flex;
    padding:15px;
}
