.template-selection {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
  padding-bottom: 0;
  max-width: 90vw;
}

.template-intro {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.selections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.outer-box{
  background-color: #f9f9f9; 
  border: 1px solid #ddd;     
  border-radius: 8px;         
  padding: 20px;              
  transition: all 0.3s ease;  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  cursor: pointer;          
}
.outer-box:hover {
  transform: scale(1.05);    
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); 
}
